---
import {P, B, Section, Link} from '@elements/index.ts';
import BaseLayout from '@layouts/BaseLayout.astro';
---
<BaseLayout>

  <Section title="Projects" id="projects">

    <P><Link href="https://underway.nyc"><B>Underway NYC</B></Link> is the best subway app for underground decision making in New York City. Average rating of 4.5 stars. Published for <Link href="https://apps.apple.com/app/id1118548566">iOS</Link> and <Link href="https://play.google.com/store/apps/details?id=nyc.underway.underway">Android</Link>.</P>

    <P><Link href="https://fullqueuedeveloper.com/haptics-studio"><B>Haptics Studio</B></Link> is the easist way to discover the best haptic wave on your iPhone. Featured in <Link href="https://iosdevweekly.com/issues/563#RR1Nrdp">iOS Dev Weekly</Link>!</P>
  </Section>

  <Section title="Values" id="values">

    <P><B>Simple solutions</B> over complicated ones. <Link href="/values/simple">Read more &rsaquo;</Link></P>

    <P><B>Smooth software experiences</B> over broken experiences. Users know good software when they use it. <Link href="/values/smooth">Read more &rsaquo;</Link></P>

    <P><B>Listening</B> over rigidity. You know what's best for your customers. We know how to reliably deliver technology solutions. We sincerely listen to your problem and offer creative solutions to delight your customers. <!-- <Link href="/values/listening">Read more &rsaquo;</Link> --></P>

    <P><B>Delivering</B> over delaying. We share your sense of urgency to delight your customers. We help design an effective roadmap to get from where you are now, to where you want to go. <!-- <Link href="/values/delivering">Read more &rsaquo;</Link> --></P>

    <P><B>Creative solutions</B> over the status quo. Just because it's always been done that way doesn't mean it's the best solution for your business. <!-- <Link href="/values/creative">Read more &rsaquo;</Link> --> </P>

    <P><B>Teaching</B> over jargon. First time? There's a lot to learn! We explain technical concepts and draw analogies from your expertise. You will know what's happening with your project, and why it's happening. <!-- <Link href="/values/teaching">Read more &rsaquo;</Link> --> </P>
  </Section>




<Section title="Contact" id="contact">
   <P>Ready for a consultation? Inquire at <Link href="mailto:inquiry@sincerelabs.nyc">inquiry@sincerelabs.nyc</Link>.</P>
</Section>

</BaseLayout>