---
const { title, id } = Astro.props;

---
 <div
  id={id}
  class="

    mt-8
    border-black border-t-2
    sm:grid sm:grid-cols-6
  ">
  <h2 class="font-bold text-3xl sm:col-span-1 font-sans">{title}</h2>
  <div class="sm:col-span-1 hidden sm:block"> </div>
  <div class="sm:col-span-4 font-serif max-w-prose pr-4">
    <slot />
  </div>
</div>
