---
import {B, Link, Align} from '@elements/index.ts';
---

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body class="bg-neutral-100 text-neutral-900 font-serif pl-4 ">


   <Align>
    <div>
      <Link href="/#projects"><B>Projects</B></Link>
      <span class="w-4">&nbsp;</span>
      <Link href="/#values"><B>Values</B></Link>
      <span class="w-4">&nbsp;</span>
      <Link href="/#contact"><B>Contact</B></Link>
    </div>
    <div class="font-bold text-4xl font-sans"><a href="/">Sincere Labs NYC</a></div>
    <div class="font-serif pb-8 max-w-prose">Offering sincere design & development from our studio in New York City</div>
  </Align>


  <div class=" w-full">
    <slot />
  </div>

  <Align>
  <footer class=" mt-8 font-serif">
    <a href="/" class="text-neutral-400 hover:underline">&copy; 2024 Sincere Labs NYC Inc</a>
  </footer>
  </Align>

</body>
</html>
