---
import BaseLayout from '@layouts/BaseLayout.astro';
import {P, B, Section, Link, Align} from '@elements/index.ts';
---
<BaseLayout>

<Align>

  <div class="prose
    mt-8


    prose-a:text-red-600 prose-a:no-underline
    hover:prose-a:text-red-400 hover:prose-a:underline hover:prose-a:decoration-2

    prose-h1:font-sans
    prose-h2:font-sans
    prose-h3:font-sans
    prose-h4:font-sans
    prose-h5:font-sans
    prose-h6:font-sans
    prose-strong:font-sans
  ">
    <slot/>
  </div>

</Align>

<Align>
<div class="max-w-prose prose  mt-8">
<B>Ready for a consultation?</B> Inquire at <Link href="mailto:inquiry@sincerelabs.nyc">inquiry@sincerelabs.nyc</Link>.
</div>
</Align>
</BaseLayout>